@using Apartments.WebUI.ViewModels
@model ResetPasswordViewModel

@{
  Page.Title = Apartments.ResourceManager.GetString(name: "reset-password");
}

<div class="row d-flex justify-content-center align-items-center" style="height:60rem">
  <div class="col-4 px-5 py-3">
    <h2 class="mb-5 h2 text-center">@Apartments.ResourceManager.GetString(name: "reset-password")</h2>

    @using (Html.BeginForm(actionName: "ResetPassword",
                           controllerName: "Account",
                           method: FormMethod.Post)) {
      @Html.AntiForgeryToken()

      @Html.HiddenFor(expression: model => model.Guid)

      <div class="mb-3">
        @Html.LabelFor(expression: model => model.Password, htmlAttributes: new { @class = "form-label" })
        @Html.PasswordFor(expression: model => model.Password, htmlAttributes: new { @class = "form-control" })
        @Html.ValidationMessageFor(expression: model => model.Password)
      </div>
      <div class="mb-3">
        @Html.LabelFor(expression: model => model.ConfirmPassword, htmlAttributes: new { @class = "form-label" })
        @Html.PasswordFor(expression: model => model.ConfirmPassword, htmlAttributes: new { @class = "form-control" })
        @Html.ValidationMessageFor(expression: model => model.ConfirmPassword)
      </div>

      <div class="d-flex justify-content-end">
        @Html.ActionLink(linkText: Apartments.ResourceManager.GetString(name: "cancel"),
                         actionName: "Index",
                         controllerName: "Home",
                         routeValues: null,
                         htmlAttributes: new {
                           @class = "btn btn-outline-secondary me-3"
                         })
        <button type="submit" class="btn btn-dark">@Apartments.ResourceManager.GetString(name: "reset-password")</button>
      </div>
    }
  </div>
</div>

@section scripts{
  @Scripts.Render("~/Scripts/jqval")
}