@using Apartments.WebUI.ViewModels
@model IEnumerable<ApartmentCardViewModel>

@foreach (ApartmentCardViewModel apartment in Model) {

  <div class="col">
    <div class="card">
      <img src="@(!(apartment.ImageData is null) 
                    ? $"data:{apartment.MimeType};base64,{Convert.ToBase64String(apartment.ImageData)}" 
                    : Url.Content("~/Content/DefaultItem.jpg"))"
           alt="@apartment.Name"
           class="card-img-top align-self-center"
           style="width: 150px; z-index: 1">
      <div class="card-body">
        <h5 class="card-title mt-2" style="height: 3rem">@apartment.Name</h5>
        <hr />

        <p class="card-text">@apartment.Address, @apartment.City</p>

        <a href="@apartment.DetailsUrl" class="stretched-link"></a>
      </div>
    </div>
  </div>

}